<!DOCTYPE html>
<html>
<head>
  <title>Rubin</title>
  <%= stylesheet_link_tag    "rubin/application", media: "all" %>
  <%= javascript_include_tag "rubin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
